In [1]:
import pandas as pd

# TD 2
---
# groupby

créer le dataframe «distance_matrix» à partir de la table 'stops', du fichier r'../../data/corse/distance_to_node.hdf'

In [2]:
distance_matrix = pd.read_hdf(r'../../data/corse/distance_to_node.hdf', 'stops')

In [3]:
distance_matrix.head()

         stop_node  stop   distance
202262  1438772679    11   7.085744
526269   938869755    35  17.101087
351879  4460494743    22  17.591249
734776  2313442539    54  22.884806
446354  2313442539    28  22.884806

restreindre «distance_matrix» aux lignes pour lesquelles le stop est plus petit que 5

In [4]:
distance_matrix = distance_matrix.loc[distance_matrix['stop'] < 5].copy()
distance_matrix.head()

        stop_node  stop   distance
24303   276984551     1  25.290162
69328   339875414     4  41.996386
74673  7516416753     4  61.014134
83286   339864129     4  63.787473
40213   245916772     2  67.040466

En utilisant un groupby, afficher la distance minimale pour chaque stop

In [5]:
distance_matrix.groupby('stop')['distance'].max()

stop
0    129286.803326
1    130846.291498
2    131859.052629
3    112071.574228
4    148881.498108
Name: distance, dtype: float64

Afficher le numéro du 'stop_node' qui correspond à la distance minimale pour chaque stop:
- classer «distance_matrix» par ordre croissant
- utiliser un groupby('stop') et faire ressortir le premier élément

In [6]:
distance_matrix.sort_values('distance', inplace=True)
distance_matrix.groupby('stop').first()

      stop_node    distance
stop
0     394695922  110.163646
1     276984551   25.290162
2     245916772   67.040466
3     258557760  318.828891
4     339875414   41.996386